* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  background-color: #ec715f;
  display: block;
}

.logo {
  height: 70px;
  float: left;
}

.nav {
  float: right;
  display: inline-block;
}

.nav-list {
  color: #fafafa;
  float: left;
  width: 120px;
  line-height: 70px;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

.nav-list a {
  color: #fafafa;
}

a {
  text-decoration: none;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

mv {
  width: 100%;
  
}